body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #7cb342;;
}

header{
    
    width: 100%;
    background-color: #e0e0e0;
}
header nav{
    height: 9vh;
}
nav ul{
    margin: 0;
    padding: 0;
}
nav ul li{
    display: inline;
}

header img{
    max-width:15%;
    max-height:15%;
    width: auto;
    height: auto;
    margin: auto 0 auto 0;
}


.row a{
    margin: auto 10px auto;
    font-size: 15px;
    text-transform: uppercase;
    color: #2e7d32;
    font-weight: bold;
    letter-spacing: 3px;
}

.tamanhoCarrosel{
    height: 100vh;
    width: 100vw;
}

#carouselExampleInterval img{
    margin-top: 9vh;
    height: 90vh !important;
    
}



#servicos{
    
    padding-top: 12vh;
    background-color: #dcedc8;
    padding-bottom: 50px;
}

#servicos h2{
    color: #33691e;
    text-align: center;
    letter-spacing: 4px;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
}
.box{
    margin: 50px auto 0 auto;
    width: 300px;
    height: 500px;
}
.box p{
    text-transform: uppercase;
    font-size: 28px;
    font-weight: bold;
    color: #2e7d32;
    text-align: center;
    margin-top: 10px;
}
.box img{
    height: 250px;
    width: 300px;
    margin: auto;
}

#quemsomos{
    padding-top: 130px;
    background-color: #9ccc65;
    padding-bottom: 90px;
}
#quemsomos h2{
    color: #33691e;
    text-align: center;
    letter-spacing: 4px;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;    
}
#quemsomos img{
    max-width:100%;
    max-height:100%;
    width: auto;
    height: auto;
    margin: auto;
}

#quemsomos p{
    color: #33691e;
    font-size: 18px;
    text-align: justify;
    margin: 2vh 0 0 0;
}

#contato{
    padding-top: 90px;
    background-color: #dcedc8;
    padding-bottom: 90px;
}

#contato h2{
    color: #33691e;
    letter-spacing: 4px;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 25px;
}

#contato label{
    color: #33691e;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 15px 0 0px 0;
}

#contato input{
    width: 90%;
    height: 35px;
    border: solid 0px;
    border-radius: 10px;
}

#contato textarea{
    width: 90%;
    min-height: 80px;
    max-height: 100px;
    margin-bottom: 20px;
    border: solid 0px;
    border-radius: 10px;
}
 #estilobtn{
     background-color: #ffc107;
     border: none;
 }
 .contat{
     margin: 10px 0 10px 0;
 }
 .contat p{
     display: inline;
     color: #33691e;
     margin: 30px 10px 15px 0;
 }
 .contat h4{
     display: inline;
     color: #33691e;
    font-weight: bold;
    font-size: 18px;
    margin: 30px 10px 15px 0;
}

footer{
    background-color: #e0e0e0;
    display: inline;
    width: 100%;
    height: 50px;
    
}
.footer{
    width: 100%;
    height: 50px;
}

.footer p{
    margin-left: 40%;
    display: inline;
    color: #2e7d32;
    font-size: 18px;
    letter-spacing: 1px;
    
    
}

.footer img{
    
    max-width:180px;
    max-height:180px;
    width: auto;
    height: auto;
    
}

.bg{
    background-color: #e0e0e0;
}

@media (max-width: 600px){
    header img{
        max-width:30%;
        max-height:30%;
        width: auto;
        height: auto;
        margin: auto 0 auto 0;
    }
    #quemsomos h2{
        color: #33691e;
        text-align: center;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: bold;    
    }
    

    #quemsomos p{
        color: #33691e;
        font-size: 13px;
        text-align: justify;
        margin-right: 10px;
    }
    .footer p{
        margin-left: 10%;
        display: inline;
        color: #2e7d32;
        font-size: 18px;      
        
    }
    
    .footer img{
    
        max-width:150px;
        max-height:150px;
        width: auto;
        height: auto;
        
    }
    .navbar-collapse, .collapse, .show{
        background-color: #e0e0e0;
    }
    #servicos{
    
        padding-top: 12vh;
        background-color: #dcedc8;
        
    }
    
    
    .box{
        margin: 10px auto 0 auto;
        padding-bottom: 10px;
        width: 300px;
        height: 500px;
    }
    .box p{
        text-transform: uppercase;
        font-size: 28px;
        font-weight: bold;
        color: #2e7d32;
        text-align: center;
        margin-top: 10px;
    }
    .box img{
        height: 250px;
        width: 300px;
        margin: auto;
    }
    .img{
        
        max-width:150px;
        max-height:150px;
        width: auto;
        height: auto;
    }
    .navbar-light, .navbar-toggler{
        margin-left: 60px;
    }
}